In [1]:
import pandas as pd

In [2]:
data =pd.read_csv("/home/deslin/Documents/ML Projects/data/imports-85.data",header= None)

In [3]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,16,17,18,19,20,21,22,23,24,25
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [4]:
column_list = ['symboling','normalized-losses','make','fuel-type','aspiration','num-of-doors','body-style',
               'drive-wheels','engine-location','wheel-base','length','width','height','curb-weight','engine-type',
               'num-of-cylinders','engine-size','fuel-system','bore',
               'stroke','compression-ratio','horsepower','peak-rpm','city-mpg','highway-mpg','price']

In [5]:
data.shape

(205, 26)

In [6]:
len(column_list)

26

In [7]:
data.columns = column_list

In [8]:
data.head()

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [9]:
data.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                 object
dtype: object

In [10]:
data.isna().sum()

symboling            0
normalized-losses    0
make                 0
fuel-type            0
aspiration           0
num-of-doors         0
body-style           0
drive-wheels         0
engine-location      0
wheel-base           0
length               0
width                0
height               0
curb-weight          0
engine-type          0
num-of-cylinders     0
engine-size          0
fuel-system          0
bore                 0
stroke               0
compression-ratio    0
horsepower           0
peak-rpm             0
city-mpg             0
highway-mpg          0
price                0
dtype: int64

In [11]:
#for loop to handle missing value of object columns together
obcols=(data.dtypes[data.dtypes=='object'])
obcols

normalized-losses    object
make                 object
fuel-type            object
aspiration           object
num-of-doors         object
body-style           object
drive-wheels         object
engine-location      object
engine-type          object
num-of-cylinders     object
fuel-system          object
bore                 object
stroke               object
horsepower           object
peak-rpm             object
price                object
dtype: object

In [12]:
import numpy as np
for x in obcols.index:
    print(x)
    replace_val = np.nan  #? is replaced with numpy nan
    data[x][data[x] == '?'] = replace_val

normalized-losses
make
fuel-type
aspiration
num-of-doors
body-style
drive-wheels
engine-location
engine-type
num-of-cylinders
fuel-system
bore
stroke
horsepower
peak-rpm
price

<ipython-input-12-e150a77a969a>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[x][data[x] == '?'] = replace_val

In [13]:
data.isna().sum()

symboling             0
normalized-losses    41
make                  0
fuel-type             0
aspiration            0
num-of-doors          2
body-style            0
drive-wheels          0
engine-location       0
wheel-base            0
length                0
width                 0
height                0
curb-weight           0
engine-type           0
num-of-cylinders      0
engine-size           0
fuel-system           0
bore                  4
stroke                4
compression-ratio     0
horsepower            2
peak-rpm              2
city-mpg              0
highway-mpg           0
price                 4
dtype: int64

In [14]:
#convert the actual numerical values from object to float64 using astype

In [15]:
data['price'] = data['price'].astype('float64')

In [16]:
data.dtypes

symboling              int64
normalized-losses     object
make                  object
fuel-type             object
aspiration            object
num-of-doors          object
body-style            object
drive-wheels          object
engine-location       object
wheel-base           float64
length               float64
width                float64
height               float64
curb-weight            int64
engine-type           object
num-of-cylinders      object
engine-size            int64
fuel-system           object
bore                  object
stroke                object
compression-ratio    float64
horsepower            object
peak-rpm              object
city-mpg               int64
highway-mpg            int64
price                float64
dtype: object

In [17]:
data['num-of-doors'].unique()

array(['two', 'four', nan], dtype=object)

In [18]:
data['num-of-doors']  = data['num-of-doors'].map({'two':2,'four':4})

In [19]:
data['num-of-doors'].astype("float64")

0      2.0
1      2.0
2      2.0
3      4.0
4      4.0
      ...
200    4.0
201    4.0
202    4.0
203    4.0
204    4.0
Name: num-of-doors, Length: 205, dtype: float64

In [20]:
for x in obcols.index:
    try:
        data[x] = data[x].astype('float64')
        print("succesfully converted column",x)
    except:
        print("Unable to convert column",x)

succesfully converted column normalized-losses
Unable to convert column make
Unable to convert column fuel-type
Unable to convert column aspiration
succesfully converted column num-of-doors
Unable to convert column body-style
Unable to convert column drive-wheels
Unable to convert column engine-location
Unable to convert column engine-type
Unable to convert column num-of-cylinders
Unable to convert column fuel-system
succesfully converted column bore
succesfully converted column stroke
succesfully converted column horsepower
succesfully converted column peak-rpm
succesfully converted column price

### EDA

In [21]:
#which make gives most mpg - city within the price range 16000-22000
data_filterd = data[(data['price']>=16000) & (data['price']<=22000)]
city_mpg = data_filterd.groupby('make').mean()['city-mpg']
city_mpg = city_mpg.sort_values(ascending = False)
city_mpg

make
mazda          25.000000
peugot         22.833333
toyota         22.000000
bmw            22.000000
alfa-romero    20.000000
volvo          19.666667
saab           19.000000
mercury        19.000000
audi           18.666667
nissan         18.333333
Name: city-mpg, dtype: float64

In [22]:
#which fuel type is used most?
data['fuel-type'].value_counts().sort_values(ascending = False)

gas       185
diesel     20
Name: fuel-type, dtype: int64

In [23]:
#Which model is used most?  #by default, the order will be highest to lowest.
data['make'].value_counts().head(5)

toyota        32
nissan        18
mazda         17
honda         13
mitsubishi    13
Name: make, dtype: int64

In [24]:
#Which make gives most power for price range 20000-25000

data_filterd = data[(data['price']>=20000) & (data['price']<=25000)]
power = data_filterd.groupby('make').mean()['horsepower']
power = power.sort_values(ascending = False)
power

make
porsche    143.0
audi       140.0
bmw        121.0
volvo      118.0
Name: horsepower, dtype: float64

In [25]:
#cars with which body type is most priced?
data.groupby('body-style').mean()['price'].sort_values(ascending=False)

body-style
hardtop        22208.500000
convertible    21890.500000
sedan          14459.755319
wagon          12371.960000
hatchback       9957.441176
Name: price, dtype: float64

In [26]:
#list no of vehicles whose horse power greater than 200?
data[data['horsepower']>=200]['make'].value_counts()

porsche    4
jaguar     1
nissan     1
Name: make, dtype: int64

In [27]:
#which fuel system gives most mpg in city

data.groupby('fuel-type').mean()['city-mpg']

fuel-type
diesel    30.30000
gas       24.67027
Name: city-mpg, dtype: float64

In [28]:
#different types drive wheels with impact price

data.groupby('drive-wheels').mean()['price'].sort_values(ascending = False)

drive-wheels
rwd    19757.613333
4wd    10241.000000
fwd     9244.779661
Name: price, dtype: float64

In [29]:
#end